{{ define "main" }}
<div class="container">
    
    {{ .Content }}
  <div class="row">
    <div class="cstmbrd col m-1 shadow p-3">
        <h6 class="text-center ">Electronic Systems</h6>
        <p class="shadow p-1">Embedded electronic systems</p>
        <p class="shadow p-1">Embedded electronic systems</p>
        <p class="shadow p-1">Embedded electronic systems</p>
        <p class="shadow p-1">Embedded electronic systems</p>
        <p class="shadow p-1">Embedded electronic systems</p>
        <p class="shadow p-1">Embedded electronic systems</p>
    </div>
    <div class="cstmbrd col m-1 shadow p-3">
        <h6 class="text-center">Signal Processing</h6>
    </div>
    <div class="cstmbrd col m-1 shadow p-3">
        <h6 class="text-center">Instrumentation</h6>
    </div>
  </div>
</div>
{{ end }}