{{ define "main" }}
<div class="container">
    
    {{ .Content }}
  <div class="row">
    <div class="cstmbrd col m-1 shadow p-3">
        <ul class="list-group list-group-flush">
            <h6 class="text-center">Electronic Systems</h6>
            <li class="list-group-item">Embedded electronic systems</li>
            <li class="list-group-item">Low power computers and networks</li>
            <li class="list-group-item">Digital signal processors</li>
            <li class="list-group-item">Arduino, Raspberry PI, etc.</li>
            <li class="list-group-item">Precision agriculture systems</li>
        </ul>
    </div>
    <div class="cstmbrd col m-1 shadow p-3">
        <ul class="list-group list-group-flush">
            <h6 class="text-center">Signal Processing</h6>
            <li class="list-group-item">Digital image processing applications</li>
            <li class="list-group-item">Pattern recognition applications</li>
            <li class="list-group-item">Geo-processing</li>
            <li class="list-group-item">Singal estimation and processing</li>
            <li class="list-group-item">Singal conditioning</li>
        </ul>
    </div>
    <div class="cstmbrd col m-1 shadow p-3">
        <ul class="list-group list-group-flush">
            <h6 class="text-center">Instrumentation</h6>
            <li class="list-group-item">Virtual instrumentation</li>
            <li class="list-group-item">Data acquisition</li>
            <li class="list-group-item">Instrumentation software</li>
            <li class="list-group-item">Protocols</li>
            <li class="list-group-item">Sensors</li>
        </ul>
    </div>
  </div>
</div>
{{ end }}