{{ define "main"}}


<div class="container">
    <h4>Contact</h4>
    <p class="p-2">The SEPSI Laboratory is located in the ESTIG building at the Instituto Politécnico de Beja campus.</p>
    <div class="row">
        <div class="cstmbrd col m-1 shadow p-3">
            <h6 class="text-center p-1">Labo directions</h6>
            <p>
                <span >Laboratório SEPSI <br></span>
                <span>Escola Superior de Tecnologia e Gestão<br> </span>
                <span>Rua Pedro Soares <br></span>
                <span>7800-295 Beja <br></span>
                <span>Tel: +351 284 311 541 <br></span>
                <span>Fax: +351 284 361 326</span>
            </p>
        </div>
        <div class="cstmbrd col m-1 shadow p-3">
            <h6 class="text-center p-1">Email</h6>
            <p>
                <span>Dr. José Jasnau Caeiro <br><a href="#">j.caeiro@ipbeja.pt</a>  <br></span>
                <span>Dr. Henrique Oliveira <br><a href="#">henrique.oliveira@ipbeja.pt</a><br></vr></span>
                <span>Dr João Martins <br> <a href="#">joão.martins@ipbeja.pt</a> </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="cstmbrd col m-1 shadow p-3">
            
        </div>
    </div>
</div>

{{ end }}