{{ define "main" }}
{{ $currentPageName := .Title }}
{{ $matchingMember := "" }}

{{ range .Site.Data.members.members }}
    {{ if in .name $currentPageName }}
        {{ $matchingMember = . }}
    {{ end }}
{{ end }}

{{ if ne $matchingMember "" }}
<div class="container">
    <img src= "{{ $matchingMember.image }}" class="card-img-top rounded-circle mt-1 mx-auto" alt="{{ $matchingMember.name }}" style="width: 50px;">
    <h3 class="tbh3"><br/>{{ $matchingMember.name }}</h3>   
    <div class="list-group">
        <p>{{ $matchingMember.bio }}</p>
    </div>
    <div class="container  ">
        <div class="row">
          
            {{ if and $matchingMember.folder_name (fileExists (printf "content/members/%s/present.md" $matchingMember.folder_name)) }}
        {{ partial "present.html" (dict "folder_name" $matchingMember.folder_name) }}
        {{ end }}
        {{ if and $matchingMember.folder_name (fileExists (printf "content/members/%s/main.md" $matchingMember.folder_name)) }}
        {{ partial "main.html" (dict "folder_name" $matchingMember.folder_name) }}
        {{ end }}
        </div>
    <div class="row">
        {{ if and $matchingMember.folder_name (fileExists (printf "content/members/%s/publications.md" $matchingMember.folder_name)) }}
        {{ partial "publications.html" (dict "folder_name" $matchingMember.folder_name) }}
        {{ end }}
     </div>
     <div class="row">
        {{ if and $matchingMember.folder_name (fileExists (printf "content/members/%s/thesis.md" $matchingMember.folder_name)) }}
        {{ partial "thesis.html" (dict "folder_name" $matchingMember.folder_name) }}
        {{ end }}
        </div>
     <div class="row">
        {{ if and $matchingMember.folder_name (fileExists (printf "content/members/%s/supervision.md" $matchingMember.folder_name)) }}
        {{ partial "supervision.html" (dict "folder_name" $matchingMember.folder_name) }}
        {{ end }}
        </div>
   
    <div class="row">
        {{ if and $matchingMember.folder_name (fileExists (printf "content/members/%s/funded.md" $matchingMember.folder_name)) }}
        {{ partial "funded.html" (dict "folder_name" $matchingMember.folder_name) }}
        {{ end }}
    
    
     </div>
     <div class="row">
        {{ if and $matchingMember.folder_name (fileExists (printf "content/members/%s/further.md" $matchingMember.folder_name)) }}
        {{ partial "further.html" (dict "folder_name" $matchingMember.folder_name) }}
        {{ end }}
     </div>  
</div>

{{ else }}
<div class="container">
    <p>Member not found.</p>
</div>
{{ end }}
{{ end }}
