<nav class="cstmnav navbar navbar-dark navbar-expand-sm pe-3 p-0">
    <a class="navbar-brand m-2" href="/">
      <img src="\Img\logo.jpg" alt="Your Website Logo" width="125" height="">
    </a>
  
    <button class="cstmtgl navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 p-0" id="collapsingNavbar">
  
      <ul class="navbar-nav w-100 p-0 justify-content-center">
        <li class="nav-item ps-3">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item ps-3">
          <a class="nav-link" href="/research">Research</a>
        </li>
        <li class="nav-item ps-3">
          <a class="nav-link" href="/members">Members</a>
        </li>
        <li class="nav-item ps-3">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item ps-3">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
  
    </div>
  </nav>
  
  